.accordion {
  /** Установить свои значения */
  $icon-size: 24;

  // .accordion__item
  &__item {
    /** Установить свои значения */
    background-color: $darkBlueColor;
    transition: 0.3s ease-in-out;
    

    &.open {
      .accordion__header {
        /** Установить свои значения */
        background-color: $defaultBlueColor;

        &:after {
          transform: rotate(0deg);
        }
      }

      .accordion__content {
        height: max-content;
        padding-left: rem(93);
        /** Установить свои значения */
        padding: rem(36) 0 rem(36) rem(93);
      }
    }
  }

  // .accordion__header
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    /** Установить свои значения */
    padding: rem(30) 0 rem(30) rem(93);
    color: $BGBlueColor;
    font-size: rem(20);
    font-weight: 600;
    line-height: rem(32); 
    letter-spacing: rem(0.75);
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: $defaultBlueColor;
    }

    &:active {
      background-color: $defaultBlueColor;
    }

    @include pseudocell(after, static) {
      transform: rotate(180deg);
      width: rem($icon-size);
      height: rem($icon-size);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.6s ease-in-out;
    }
  }

  // .accordion__content
  &__content {
    background-color: $defaultBlueColor;
    height: 0;
    overflow: hidden;
    padding-left: rem(93);

    /** Установить свои значения */
    
    transition: all 0.3s ease-in-out;
  }
}
