.header {
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-bottom: rem(1) solid $lineColor;

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(135);
    padding-right: rem(66);

    @include media(1460){
      padding-right: rem(66)!important;
    }
    
  }
  &__logo{
    font-size: rem(34.375);
    line-height: rem(55);
    font-weight: 700;
  }
}

// Burger
.icon-menu {
  display: block;
  position: relative;
  width: rem(28);
  height: rem(18);
  cursor: pointer;
  z-index: 5;
  background-color: inherit;
  &:hover, :focus {
		animation: pulse 1s;
  	box-shadow: 0 0 0 rem(20) transparent;
		opacity: 0.7;
	}

  span,
  &::before,
  &::after {
    content: "";
    transition: all 300ms ease 0ms;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(4);
    border-radius: rem(30);
    background-color: $defaultBlueColor;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - rem(2));
  }

  // .menu-open & {
  //   span {
  //     width: 0;
  //   }

  //   &::before {
  //     top: calc(50% - rem(2));
  //     transform: rotate(-45deg);
  //   }

  //   &::after {
  //     bottom: calc(50% - rem(2));
  //     transform: rotate(45deg);
  //   }
  // }
}

