// Заголовки, общие БЄМ блоки и проче...
.logo{
  color: $defaultBlueColor;
}

.button {
  padding: rem(20) rem(70);
  font-weight: 600;
  line-height: rem(28); 
  letter-spacing: rem(0.75);
  border-radius: rem(50);
  border: 2px solid $defaultBlueColor;
	transition: all 0.5s;
	&:hover, :focus {
		animation: pulse 1s;
  	box-shadow: 0 0 0 rem(20) transparent;
		opacity: 0.7;
	}
}

.title {
  color: $bodyColor;
  font-size: rem(48);
  font-weight: 700;
  line-height: rem(50); 
  letter-spacing: rem(1);
}

.name-section{
  color: $darkModeBlueColor;
  font-weight: 600;
  line-height: rem(28);
  letter-spacing: rem(0.75);
  text-transform: uppercase;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling настройка отображения
.slider {
	background: white;
	height: 100%;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: $containerWidth;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 50px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
    margin-right: rem(35);
		@include media(1460){
			margin-right: rubber(16, 35);
		}
	}
	&__image{
		@include media(1460){
			width: rubber(283, 569);
			height: rubber(304, 603);
		}
	}
}

// Настройка кнопок Swyper
.swiper-button-prev{
	&::after{
		content: none;
	}
	position: absolute;
	z-index: 999;
	top: rem(30);
	left: rem(1000);
}
.swiper-button-next{
	&::after{
		content: none;
	}
	position: absolute;
	z-index: 999;
	top: rem(30);
	left: rem(1100);
}


// Custom select
.custom-select {
  position: relative;
	max-width: 100%;
	width: 100%;
	select {
		display: none; /*hide original SELECT element: */
	}
}


.select-selected {
	display: flex;
	align-items: center;
	padding-top: rem(15);
	padding-bottom: rem(15);
	padding-left: rem(24);
	color: $titleActiveColor;
	border-radius: rem(16);
	border: rem(2) solid $titleActiveColor;
	background: $BGColor;
	cursor: pointer;
	@include pseudocell(after, absolute) {
		transform: rotate(0deg);
		top: rem(22);
		right: rem(15);
		width: rem(15);
		height: rem(15);
		background-image: url(../images/page_of_search/search/Forward.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: transform 0.3s ease-in-out;
	}
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(90deg);
}

/* Style items (options): */
.select-items {
	margin-top: rem(5);
  position: absolute;
  border-radius: rem(16);
	border: rem(2) solid $titleActiveColor;
	background: $BGColor;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
	div {
		color: $titleActiveColor;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
	}
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

// Настройка VanillaCalendar
.vanilla-calendar-input-wrapper{
	@include pseudocell(after, absolute) {
		pointer-events: none;
		transform: rotate(0deg);
		top: rem(22);
		right: rem(15);
		width: rem(15);
		height: rem(15);
		background-image: url(../images/page_of_search/search/Forward.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: transform 0.3s ease-in-out;
	}
	&-open::after{
		transform: rotate(90deg);
	}
}

.vanilla-calendar{
	z-index: 10;
}