// Заголовки, общие БЄМ блоки и проче...
.logo{
  color: $defaultBlueColor;
}

.button {
  padding: rem(20) rem(70);
  font-weight: 600;
  line-height: rem(28); 
  letter-spacing: rem(0.75);
  border-radius: rem(50);
  border: 2px solid $defaultBlueColor;
}

.title {
  color: $bodyColor;
  font-size: rem(48);
  font-weight: 700;
  line-height: rem(50); 
  letter-spacing: rem(1);
}

.name-section{
  color: $darkModeBlueColor;
  font-weight: 600;
  line-height: rem(28);
  letter-spacing: rem(0.75);
  text-transform: uppercase;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100%;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: $containerWidth;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 50px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
    margin-right: rem(35);
		@include media(1460){
			margin-right: rubber(16, 35);
		}
	}
	&__image{
		@include media(1460){
			width: rubber(283, 569);
			height: rubber(304, 603);
		}
	}
}